* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
    min-height: 100%;
  }
  header,
  footer {
    flex: none;
  }
  .main {
    position: relative;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header,
  main,
  footer {
    padding: 20px;
  }
  .body-grey,
  .menuItem-grey {
    background: grey;
  }
  .body-red,
  .menuItem-red {
    background: red;
  }
  .body-orange,
  .menuItem-orange {
    background: orange;
  }
  .body-purple,
  .menuItem-purple {
    background: purple;
  }
  .body-green,
  .menuItem-green {
    background: green;
  }
  .colorName {
    padding: 10px;
    color: #ccc;
  }
  .colorName-hidden {
    display: none;
  }
  .colorName-visible {
    display: block;
  }
  header {
    color: white;
  }
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
  .hamburger {
    margin-top: 20px;
    /* padding: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 2px solid white; */
  }
  .hamburger-hidden {
    display: none;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: tranparent;
    color: white;
  }
  .image-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
  }
  .figure-hidden {
    visibility: hidden;
  }
  .image {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
  }
  label {
    font-size: 14px;
  }
  .link {
    color: #aaa;
  }
  .menu {
    list-style-type: none;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .menu-closed {
    /* position: relative;
    left: -250px;
    -webkit-transition: position 250ms;
    -o-transition: position 250ms;
    transition: position 250ms; */
    visibility: hidden;
  }
  .menu-opened {
    /* position: relative;
    left: 0; */
    visibility: visible;
  }
  .menuItem {
    padding: 10px;
    margin: 0 auto;
    color: #ccc;
  }
  /* .menuItem + .menuItem {
    margin-top: 5px;
  } */
  .radioButton {
    margin-right: 5px;
  }
  small + small {
    text-align: right;
  }